.stages__text {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    color: #313131;
    max-width: 18.875rem;
    padding: 0 0 0 1rem;
    margin: 0;
}


.stages__text:last-of-type {
    max-width: 24rem;
}