.stages__text {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    color: #313131;
    max-width: 18.875rem;
    margin: 0 0 0 1rem;
}


/* .stages__text:last-of-type {
    max-width: 27.876rem;
} */