.stages__text {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    color: #313131;
    max-width: 18.875rem;
    padding: 0.077rem 0 0 1rem;
    margin: 0;
    font-family: 'Golos Text', Arial, Helvetica, sans-serif;
}

.stages__text:last-of-type {
    max-width: 28rem;
}

  /* 375-1365px+*/
  @media screen and (max-width: 1365px) {
    .stages__text {
        font-size: 1.12rem;
    }
}