.promo__circle {
    width: 41.25rem;
    height: 41.25rem;
    background-color: #FBCE51;
    border-radius: 100%;
    position: absolute;
    top: -2.75rem;
    right: 19.22rem;
    overflow: hidden;

}

/* 1365-1919px+*/
@media screen and (max-width: 1919px) {
  .promo__circle  {
    top: -2.75rem;
    right: 2.4rem;
    }
}

/* 375-1365px+*/
@media screen and (max-width: 1365px) {
  .promo__circle  {
    top: 25.56rem;
    right: 3rem;
    width: 18.625rem;
    height: 18.69rem;
  }
}