.participants__switsher {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

@media screen and (max-width: 1365px) {
    .participants__switsher {
        display: none;
    }
}


.participants__switsher_bottom {
    display: none;
}

@media screen and (max-width: 1365px) {
    .participants__switsher_bottom {
        display: flex;
        margin-top: 2.5rem;
    }
}

