.stages__button-right {
    background: url('../../../images/carousel-right.svg') no-repeat;
    width: 44px;
    height: 44px;
    transition: background 0.4s;
    border: none;
    cursor: pointer;
}

.stages__button-right:hover {
    background: url('../../../images/carousel-right-hover.svg') no-repeat;
    background-size: contain;
}

.stages__button-right.disabled {
    background: url('../../../images/button-right-disabled.svg') no-repeat;
    pointer-events: none; 
    cursor: not-allowed;
    background-size: contain;
}


  /* 375-1365px+*/
  @media screen and (max-width: 1365px) {
    .stages__button-right {
        width: 36px;
        height: 36px;
        background-size: contain;
    }
    
}