.stages__photo {
    width: 25rem;
    height: 14.69rem;
    position: absolute;
    z-index: 2;
    top: 22rem;
    right: -3.7rem;

}

  /* 375-1365px+*/
  @media screen and (max-width: 1365px) {
    .stages__photo {
        width: 21rem;
        height: 12rem;
        top: 12.2rem;
        right: -.3rem;
        transform: rotate(-3deg);
    }
}