.promo__chess-left {
    width: 7.7rem;
    height: 17rem;
    position: absolute;
    bottom: 10rem;
    right: 49.15rem;
    /* transform: rotate(-11deg); */
}

/* 1365-1919px+*/
@media screen and (max-width: 1919px) {
    .promo__chess-left{
        bottom: 10.27rem;
        right: 32rem;
    }
}
  
  /* 375-1365px+*/
@media screen and (max-width: 687px) {
    .promo__chess-left {
        width: 4rem;
        height: 7.31rem;
        bottom: 7.3rem;
        right: 15.3rem;
    }
}