.participants__counter {
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #313131;
    opacity: 0.6;
    margin: 0 0.2rem 0 0;
    font-family: 'Golos Text', Arial, Helvetica, sans-serif;
}