.participants__group {
    display: flex;
    flex-direction: row;
    gap: 5.9rem;
    margin: 1.2rem auto 0;
    align-items: center;
}

  /* 375-1365px+*/
@media screen and (max-width: 1365px) {
    .participants__group {
        margin: 0.7rem auto 0;
        flex-direction: column;
        gap: 0;
    }
}
