.about__table-name {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
    color: #313131;
    opacity: 0.7;
    border-right: 2px solid #d0d0d0; 
    padding: 1.2rem 0 0 0;
    min-width: 19.125rem;
    margin: 0;
    font-family: 'Golos Text', Arial, Helvetica, sans-serif;
}

.about__table-graph:last-child .about__table-name {
    border-bottom: none;
}

  /* 375-1365px+*/
  @media screen and (max-width: 1365px) {
    .about__table-name {
        border-right: none;
        border-bottom: none;
        padding: 0.9rem 0 0 0;
    }
}
