.stages__circle {
    border-radius: 3.75rem;
    min-width: 2.25rem;
    height: 2.25rem;
    background: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 120%;
    color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Golos Text', Arial, Helvetica, sans-serif;
}