/* 1920+*/
.stages {
    display: none;
}


/* 1365-1919px+*/
@media screen and (max-width: 1919px) {
    .stages {
        display: flex;
        flex-direction: column;
        margin: 10.8rem 4.5rem 0;
        position: relative;
    }
}

  /* 375-1365px+*/
  @media screen and (max-width: 1365px) {
    .stages {
        margin: 7.3rem 1.2rem 0;
    }
}