.promo__subtitle {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 130%;
    text-align: center;
    color: #313131;
    font-family: "Merriweather", Arial, sans-serif;
    max-width: 33.875rem;
    position: absolute;
    top: 24.625rem;
    left: 21.7rem;
}

/* 1365-1919px+*/
@media screen and (max-width: 1919px) {
    .promo__subtitle {
        top: 24.75rem;
        left: 3.8rem;
    }
  }
  
  /* 375-1365px+*/
  @media screen and (max-width: 1365px) {
    .promo__titles {

      }
  }
