.promo__city {
    width: 101.5rem;
    height: 27.73rem;
    position: absolute;
    bottom: 0;
    right: 8.375rem;
}



/* 1365-1919px+*/
@media screen and (max-width: 1919px) {
    .promo__city {
        height: auto;
        position: absolute;
        bottom: 0;
        right: 40%;
        transform: translateX(43%);
    }
}

  /* 375-1365px+*/
  @media screen and (max-width: 1245px) {
    .promo__city  {
        right: 10%;
        transform: translateX(15%);
    }
}

  /* 375-1365px+*/
  @media screen and (max-width: 687px) {
    .promo__city  {
        width: 230%;
        height: 15.44rem;
        right: 7%;
        transform: translateX(15%);
    }
}
