.promo__circle-image {
    position: absolute;
    top: -3.5rem;
    left: -3.5rem;
    width: 48rem;
    height: 48rem;
    mix-blend-mode: overlay;
    animation: rotate 26s linear infinite;
}

  /* 375-1365px+*/
  @media screen and (max-width: 1365px) {
    .promo__circle-image  {
        width: 21.625rem;
        height: 21.625rem;
        top: -1.5rem;
        left: -1.5rem;
      }
  }


/* 
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
