.participants__button-right {
    background: url('../../../images/carousel-right.svg') no-repeat;
    width: 44px;
    height: 44px;
    transition: background 0.4s;
    border: none;
    cursor: pointer;
}

.participants__button-right:hover {
    background: url('../../../images/carousel-right-hover.svg') no-repeat;
}