.participants__button-right {
    background: url('../../../images/carousel-right.svg') no-repeat;
    width: 44px;
    height: 44px;
    transition: background 1s, background-size 1s; /* Добавлен переход для background-size */
    border: none;
    cursor: pointer;
}

.participants__button-right:hover {
    background: url('../../../images/carousel-right-hover.svg') no-repeat;
    background-size: contain;
}

  /* 375-1365px+*/
@media screen and (max-width: 1365px) {
    .participants__button-right {
        width: 36px;
        height: 36px;
        background-size: contain;
    }
}