/* 1920+*/
.footer {
    display: none;
}

/* 1365-1919px+*/
@media screen and (max-width: 1919px) {
    .footer {
        display: block;
        background: #e9ded4;
        height: 5rem;
        padding: 1.7rem 4.5rem 2.8rem;
    }
}
  /* 375-1365px+*/
@media screen and (max-width: 1365px) {
    .footer {
        height: 10rem;
        padding: 1.5rem 1.2rem 1.6rem;
    }
}
