/* 1920+*/
.footer {
    display: none;
}

/* 1365-1919px+*/
@media screen and (max-width: 1919px) {
    .footer {
        display: block;
        background: #e9ded4;
        height: 9.38rem;
        padding: 2.3rem 3rem 3rem;
    }
}
  /* 375-1365px+*/
@media screen and (max-width: 1365px) {
    .footer {
        height: 9.38rem;
        padding: 1.6rem 1.2rem 1.4rem;
    }
}
