.stages__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    margin-top: 3.36rem;
}

  /* 375-1365px+*/
  @media screen and (max-width: 1365px) {
    .stages__container {
        /* display: none; */
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: none;
        margin-top: 12.8rem;
        grid-gap: 0;
    }
}

