.about__table-graph {
    display: flex;
    border-bottom: 2px solid #d0d0d0;
    max-width: 40rem;
}

.about__table-graph:last-child {
    border-bottom: none;
}


/* 375-1365px+*/
@media screen and (max-width: 1365px) {
    .about__table-graph {
        flex-direction: column;
        max-width: 25rem;
    }
}